<% provide(:title, "Notifications") %>
<h1>Notifications</h1>
<p>
  <%= link_to "New notification", new_notification_path %>
</p>

<div class = "media">
  <div class = "media-body">
    <table class = "table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>From</th>
          <th>Date</th>
          <th>Content</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @notifications.each do |notification| %>
          <tr>
            <td><%= notification.title %></td>
            <td><%= notification.first_name %></td>
            <td><%= notification.date.strftime("%a %B %d, %r")%> </td>
            <td><%= notification.content %></td>
            <td><%= link_to 'Show', notification, class: 'btn btn-mini'  %></td>
            <td><%= link_to 'Destroy', notification, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
