<%= simple_form_for @user do |f| %>
  
  <%= render 'shared/error_messages', object: @user %>

  <%= f.input :first_name, required: false, class: 'form-control' %>

  <%= f.input :last_name, required: false, class: 'form-control' %>

  <%= f.input :user_type, required: false, collection: ['admin', 'staff', 'client'], prompt: "Choose User Role" %>

  <div class ="well">
    <%= f.label :groups %>
    <br>

    <%= f.collection_check_boxes(:group_ids, Group.all, :id, :name, { checked: @user.groups.map(&:id) }) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
  </div>

  <%= f.input :username, required: false, class: 'form-control' %>

  <%= f.input :email, class: 'form-control' %>

  <%= f.input :password, placeholder: '**********', class: 'form-control' %>

  <%= f.input :password_confirmation, placeholder: '**********', class: 'form-control' %>

  <%= f.submit "Update User", class: "btn btn-primary"%>

<% end %>
