<% provide(:title, 'Edit User') %>
<h1>Create User</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user do |f| %>
    <%= render 'shared/error_messages' %>
      <%= f.label :first_lame, "First Name" %>
      <%= f.text_field :first_name, class: 'form-control' %>

      <%= f.label :last_name, "Last Name" %>
      <%= f.text_field :last_name, class: 'form-control' %>

      <%= f.label :user_type, "User Type" %>
      <%= f.label :sub_user_type, "(must be 'admin', 'client', or 'staff')"%>
      <%= f.text_field :user_type, class: 'form-control' %>

      <%= f.label :username, "Username" %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :password, "Password" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Re-type Password" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Update User", class: "btn btn-primary"%>
    <% end %>
  </div>
</div>