<div class = "media">
  <div class = "media-body">
    <table class = "table table-hover">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>User Type</th>
          <th>Username</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name%></td>
            <td><%= user.last_name %></td>
            <td><%= user.user_type %></td>
            <td><%= user.username %></td>
            <td><%= link_to 'Edit', '#', class: 'btn btn-mini'  %></td>
            <td><%= link_to 'Delete', user, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- <style>
	table, th, td {
	    border: 1px solid black;
	}
</style>

<table>
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>User Type</th>
		<th>Username</th>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.first_name %></td>
			<td><%= user.last_name %></td>
			<td><%= user.user_type %></td>
			<td><%= user.username %></td>
		</tr>
	<% end %>
</table> -->