<%= simple_form_for(@event) do |f| %>

    <% if @event.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          The form contains <%= pluralize(@event.errors.count, "error") %>.
        </div>
        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.input :title, class: 'form-control' %>

    <%= f.input :description, class: 'form-control' %>

    <%= f.input :time, class: 'form-control' %>

    <%= f.input :place, class: 'form-control' %>

    <%= f.input :notes, as: :text, class: 'form-control' %>

    <%= f.input :hosted_by, class: 'form-control' %>

    <%= f.input :color, input_html: { type: :color, value: "#77961c" } %>

    <div class ="well">
      <%= f.label :group_participants %>
      <br>

      <%= f.collection_check_boxes(:group_participants, Group.all, :id, :name) do |b| %>
        <%= b.label { b.check_box + b.text } %>
      <% end %>
    </div>

    <%= f.submit yield(:button_text), class: "btn btn-primary"%>

  <% end %>
