<h1>Edit Event</h1>
<div class="col-md-6 col-md-offset-3">
<%= form_with model: @event do |form| %>
  <%= form.text_field :title, placeholder: "title" %>
  <%= form.text_field :description, placeholder: "description" %>
  <%= form.text_field :time, placeholder: "time" %>
  <%= form.text_field :place, placeholder: "place" %>
  <%= form.text_field :notes, placeholder: "notes" %>
  <%= form.text_field :group_participants, placeholder: "group participants" %>
  <%= form.text_field :hosted_by, placeholder: "hosted by" %>

  <%= form.submit class: 'btn btn-mini' %>
</div>
<% end %>
