<h1>Event</h1>

<h5>Title: <%= @event.title%></h5>
<h5>Description: <%= @event.description%></h5>
<h5>Time: <%= @event.time%></h5>
<h5>Place: <%= @event.place%></h5>
<h5>Notes: <%= @event.notes%></h5>
<h5>Group Participants: <%= @event.group_participants%></h5>
<h5>Hosted By: <%= @event.hosted_by%></h5>

