<!-- Files with a _ infront of it means it is a partial facility -->

<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/css/header.css">
<link type="text/css" rel="stylesheet" src="assets/css/materialize.min.css">

<nav class="navbar-material">
	<div class="nav-wrapper">
		<a href="." class="brand-logo center">
      <%=image_tag("Abilitree_TAG_SPOT.jpg")%>
    </a>

					<!-- This line below is to handle the resizing of windows and creates a sidebar
			http://materializecss.com/navbar.html under Mobile Collapse Button. -->
			<!-- <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> -->
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<% if user_signed_in? %>
					<li class="header-greeting-name">Hello <%= current_user.first_name %>! </li>
					<% if user_admin(current_user) %>
						<li><%= link_to "Users",   users_path %></li>
						<li class="header-tab"><%= link_to "Groups",   groups_path %></li>
					<% end %>
					<li class="header-tab"><%= link_to "Notifications", notifications_path %></li>
					<li class="header-tab"><%= link_to "Log out", destroy_user_session_path, method: :delete %> </li>
				<% end %>
				<!-- This is the sidebar when resizing the browser and the links you want to appear are between the <li></li> tags -->
				<!-- Having issues with this during certain times it doesn't work. Need to refer to video to figure out why -->
				<!-- <ul class="side-nav" id="mobile-demo">
				<li><%= link_to "Notifications", notifications_path %></li>-->
			</ul>
	</div>
</nav>