<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>

    <!-- Do we need the scripts below in the application.html.erb -->

    <!-- Google cdn -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

      <!-- need this for the side bar nav -->
      <script>
        $( document ).ready(function() {
          $(".button-collapse").sideNav();
        })
      </script>
  </head>


      <body>
        <%= render 'layouts/header' %>
        <div id="container">
           <!-- This is per devise removed our old one to make the layout simpler-->

          <% if notice %>
               <p class="alert alert-success"><%= notice %></p>
          <% end %>

          <% if alert %>
               <p class="alert alert-danger"><%= alert %></p>
            <% end %>

          <% if success %>
              <p class="alert alert-success"><%= success %></p>
          <% end %>

          <%= yield %>
         </div>

        <%= render 'layouts/footer' %>
      </body>

</html>
