<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>

    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" src="assets/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>


      <body>
        <%= render 'layouts/header' %>
        <div id="container">
           <!-- This is per devise removed our old one to make the layout simpler-->

          <% if notice %>
               <p class="alert alert-success"><%= notice %></p>
          <% end %>

          <% if alert %>
               <p class="alert alert-danger"><%= alert %></p>
            <% end %>

          <% if success %>
              <p class="alert alert-success"><%= success %></p>
          <% end %>

          <%= yield %>
         </div>
         <!--JavaScript at end of body for optimized loading-->
         <!--Import jQuery before materialize.js-->
          <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
         <script type="text/javascript" src="assets/js/materialize.min.js"></script>
        <%= render 'layouts/footer' %>
      </body>

</html>
